.login-form{
  position:relative;
  float:right;
  right:10%;
  top:140px;
  width:306px;
  background:rgba(254,254,254,0.9);
  padding:20px 20px 20px 20px;
  overflow:visible;
}
.login-form-item{
  height:38px;
  width:304px;
  margin-bottom:20px;
  border:1px solid #bdbdbd;
  position:relative;
}
.ico-username{
  position:absolute;
  top:0;
  left:0;
  width:38px;
  height:38px;
  border-right:1px solid #bdbdbd;
  background:url(http://miscssl.360buyimg.com/user/passport-2015/widget/login-form/i/pwd-icons-new.png) no-repeat;
}
.ico-password{
  position:absolute;
  top:0;
  left:0;
  width:38px;
  height:38px;
  border-right:1px solid #bdbdbd;
  background:url(http://miscssl.360buyimg.com/user/passport-2015/widget/login-form/i/pwd-icons-new.png) no-repeat;
  background-position:-48px 0px;
}
.login-form-input{
  line-height:18px;
  border:0;
  padding:10px 0 10px 50px;
  width:254px;
  float:none;
  overflow:hidden;
  font-size:14px;
}
h1{
    height: 27px;
    line-height: 27px;
    top: -5px;
    color: #666;
    font-family: '\5fae\8f6f\96c5\9ed1';
    font-size: 20px;
}
.login-button{
  height:38px;
  width:304px;
  background-color:#002C67;
  border:0;
  border-radius:3px;
  color:#FFF;
  font-size:20px;
  font-family: '\5fae\8f6f\96c5\9ed1';
  cursor:pointer;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  transition: 0.2s all ease;
  outline: none;
}
.login-button:hover{
  background-color: #004BAF;
}
.login-button:active{
  
}
.logo-container{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100px;
  background:RGBA(199,199,199,0.7);
}
body{
  background:url(http://www.uestc.edu.cn/public/2015/02/c2a66751c4509b678562128277ce484b85004.jpg) no-repeat 50% 100px;
}
.logo-ico{
  height:64px;
  width:281px;
  position:absolute;
  top:18px;
  left:10%;
  background:url(http://www.uestc.edu.cn/images/logo.png)no-repeat;
}
.login-other{
  width:284px;
  height:auto;
  padding:0px 10px 0px 10px;
  font-size:10px;
  font-family: '\5fae\8f6f\96c5\9ed1';
  margin-bottom:8px;
}
a{
  text-decoration:none;
  color:#666666;
}
.forget-pwd{
  float:right;
}
.footer{
  width:99%;
  text-align:center;
  font-size:12px;
  color:#666666;
  margin-top: 300px;
  float: left;
}
.auth_bg,
.auth_page_wrapper{
  display: none;
}