.little-block {
    height: 180px;
    position: relative;
}

.little-block #title,
#value {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
}

.little-block #value {
    top: 60px;
    font-size: 20px;
    font-weight: bold;
}
